<div class="row center overview"><h2>Overview</h2>
    <div class="row center-align card">
        <div class="col l3 m6 s12 card-body">
            <div class="card-content green darken-3 white-text valign-wrapper">
                <div class="card-content green darken-4 icon valign-wrapper">
                    <i class="material-icons medium valign">accessibility</i>
                </div>
                <div class="card-content">
                    <div class="row">
                        <h3 class="card-stats-number">15</h3>
                        <p>Total Habit</p>
                    </div>
                </div>
            </div>
        </div>
          <div class="col l3 m6 s12 card-body">
            <div class="card-content blue darken-3 white-text valign-wrapper">
                <div class="card-content blue darken-4 icon valign-wrapper">
                    <i class="material-icons medium valign">mood</i>
                </div>
                <div class="card-content">
                    <div class="row">
                        <h3 class="card-stats-number">15</h3>
                        <p>Track</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col l3 m6 s12 card-body">
            <div class="card-content orange white-text valign-wrapper">
                <div class="card-content orange darken-2 icon valign-wrapper">
                    <i class="material-icons medium valign">check</i>
                </div>
                <div class="card-content">
                    <div class="row">
                        <h3 class="card-stats-number">50</h3>
                        <p>Performance</p>
                    </div>
                </div>
            </div>
        </div>
         <div class="col l3 m6 s12 card-body">
            <div class="card-content red white-text valign-wrapper">
                <div class="red darken-2 icon valign-wrapper">
                    <i class="material-icons medium valign">mood_bad</i>
                </div>
                <div class="card-content">
                    <div class="row">
                        <h3 class="card-stats-number">50</h3>
                        <p>Skipped</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="dashboard-container">
    <div class="dashboard-header">
            <h3>My Habit Tracker</h3>
    </div>
    <div class="block-content">
        {{#each habits}}
            <div class="card dashboard-content">
                <div class="card-body row dashboard-row">
                    <div class="col s3 dashboard-category {{category}}">
                        <h5>{{category}}</h5>
                    </div>
                    <div class="col s3 habit-title">
                        <h5>{{description}}</h5>
                    </div>
                    <div class="col s3 habit-progress">
                        <div class="habit-bar">
                            <div class="habit-track">
                                <span class="status-text">100%</span>
                                <div class="status-fill" style="width:80%"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col s3 habit-completed">
                          <div class="habit-progress"><small>100/100</small></div>
                    </div>
                </div>
            </div>
        {{/each}}
    </div> 
</div>
<script src="/js/dashboard.js"></script>