<body class="welcome">
  <span id="splash-overlay" class="splash"></span>
  <span id="welcome" class="z-depth-4"></span>
  <main class="valign-wrapper">
    <span class="container grey-text text-lighten-1 ">

      <p class="flow-text">Welcome to</p>
      <h1 class="title grey-text ">Habitron</h1>

      <blockquote class="flow-text">A habit tracker that track your habit.</blockquote>

      <div class="center-align">
        <!-- Getting Start route to login -->
        <a class="btn dropdown-button" href="/login" data-activates="exams">Getting Start<i class="material-icons right"></i></a>
      </div>
    </span>
  </main>
</body>